version: 2
ethernets:
  {{ .network.interface }}:
    dhcp4: false
    dhcp6: false
    addresses: [{{ .network.addresses }}]
    gateway4: {{ .network.gateway }}
    nameservers:
      addresses: [{{ .network.dns }}]
