resource "libvirt_volume" "{{ .spec.name }}_volume" {
  name   = "{{ .spec.name }}"
  pool   = {{ .spec.pool }}
  source = "https://cloud-images.ubuntu.com/releases/xenial/release/ubuntu-16.04-server-cloudimg-amd64-disk1.img"
  format = "qcow2"
}

data "template_file" "{{ .spec.name }}_user_data" {
  template = file("${path.module}/{{ .spec.name }}_cloud_init.cfg")
}

data "template_file" "{{ .spec.name }}_network_config" {
  template = file("${path.module}/{{ .spec.name }}_network_config.cfg")
}

resource "libvirt_cloudinit_disk" "{{ .spec.name }}_commoninit" {
  name           = "{{ .spec.name }}_commoninit.iso"
  user_data      = data.template_file.{{ .spec.name }}_user_data.rendered
  network_config = data.template_file.{{ .spec.name }}_network_config.rendered
  pool           = {{ .spec.pool }}
}

resource "libvirt_domain" "{{ .spec.name }}" {
  name = "{{ .spec.name }}
  memory = "{{ .spec.spec.ram }}"
  vcpu = {{ .spec.spec.vcpu }}

  cloudinit = "${libvirt_cloudinit_disk.{{ .spec.name }}_commoninit.id}"

  network_interface {
    network_name = "{{ .spec.network.name }}"
  }

  console {
    type        = "pty"
    target_port = "0"
    target_type = "serial"
  }

  console {
      type        = "pty"
      target_type = "virtio"
      target_port = "1"
  }

  disk {
       volume_id = "${libvirt_volume.{{ .spec.name }}_volume.id}"
  }
  graphics {
    type = "spice"
    listen_type = "address"
    autoport = "true"
  }
}

terraform {
  required_version = ">= 0.12"
}
