#cloud-config
password: {{ .Spec.User.Password }}
hostname: {{ .Spec.Name }}
chpasswd: { expire: False }
ssh_pwauth: True
lock_passwd: False
sudo: ["ALL=(ALL) NOPASSWD:ALL"]
growpart:
  mode: auto
  devices: ['/']
